// Definitions specific for this app


.results
  +clearfix
  +grid-container
  
.total, .winner, .warning
  font-weight:            	bold
  float:                        left
  text-align:                   center
  margin-top:                   16px
  margin-right:                 0
  padding:                      10px 5px
    
.total
  +grid(10)
  +font-size(48px)
    
.total_a
  margin-left:                  40px
  .res_color
    color:                      #c63
.total_b  
  margin-left:                  80px
  .res_color
    color:                      #36c
    
.bieber_meter
  float:                        left
  width:                        400px
  background-color:             #edd
  padding:                      0
  margin-right:                 3px
  border:                       1px solid red
  
  .meter
    float:                      left
    overflow:                   hidden
    height:                     40px
  img
    float:                      left

.middle_float, .winner, .warning  
  +grid(14)
  margin:                       32px 0 16px 200px 
  padding-left:                 5px

.winner
  +font-size(64px)
  background-color:             #eee

.warning  
  +font-size(24px)
  background-color:             #edd

.description
  +grid(20)
  margin-left:                  80px
  margin-top:                   16px

#users_a, #users_b
  margin-top:                   16px
  +grid(12)
  // background-color:             #edd
  // text-align:                   center
  img
    float:                      left
    width:                      48px
    height:                     48px
    margin:                     4px 4px 0 0
  p
    margin:                     4px 0
    text-align:                 center
