// Definitions specific for this app


.results
  +clearfix
  +grid-container
  
.total
  +grid(10)
  +font-size(64px)
  font-weight:            	bold
  float:                        left
  background-color:             #eee
  text-align:                   center

.total_a
  margin-left:                  45px
  color:                        #c63
.total_b  
  margin-left:                  85px
  color:                        #36c
