.box
  .credits
    An <a href="http://infochimps.com/">Infochimps</a> joint &mdash; fill up on awesomesauce and our open-source tools at <a href="http://infochimps.com/labs">infochimps labs</a>.
  .copyright
    %p Copyright &copy; #{Date.today.year} <a href="http://infochimps.com">Infochimps</a>
