.box
  .credits
    Crafted with love by <a href="http://infochimps.com/">Infochimps</a> &mdash; get the <a href="http://github.com/infochimps-labs/tweeple_fight">full source code</a> and many more open-source tools from <a href="http://infochimps.com/labs">infochimps labs</a>.
  .copyright
    %p Copyright &copy; #{Date.today.year} <a href="http://infochimps.com">Infochimps</a>
