%header#header
  .box
    .sitelink
      <a href="/"><img src="/images/logo.png" class="logo"/></a>
      %h1
        - link_to Settings.app_name, '/'

%nav#nav
  .box
    %ul.menu
      %li{ :style => 'width:30px; color: #ccd; padding: 2px 0px 4px 5px' } Try:
      - [ ['boxers', 'briefs'], ['austin', 'dallas'], ['obama', 'palin'], ['pirate', 'ninja'], ['apple', 'google'], ['john', 'jane'] ].each do |topic_a, topic_b|
        %li.item
          - link_to_fight topic_a, topic_b

