%header#header
  .box
    .sitelink
      <a href="/"><img src="/images/logo.png" class="logo"/></a>
      %h1
        - link_to Settings.app_name, '/'

-# %nav#nav
-#   .box
-#     %ul.menu
-#       %li.item
-#         - link_to 'home',  '/'
-#       %li.item
-#         - link_to 'debug', '/debug'
-#       %li.item
-#         - link_to 'yer mom', '/debug'
-#       %li.item
-#         - link_to 'debug', '/debug'
-#     %form.search
-#       - text_field '', :q

