%h1 Which more popular is! Twitter judging! Fight!

.section
  - form_tag '/', :method => :get do
    %fieldset
      %legend Tweeple Fight
      - labeled_field @fight, :topic_1
      - labeled_field @fight, :topic_2

      .buttons
        - submit_button 'Fight!', :class => 'positive'


%hr/

!= partial :dump
